In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import re
import scipy.stats as stats

In [19]:
import gdown

ID = "https://drive.google.com/drive/folders/1RZJdNpCfbMt2SB_kfWsxQgOk5LeuV7lw"
gdown.download_folder(ID, quiet=True)
df = pd.read_csv('Divar Dataset/Divar.csv', low_memory=False)

# Display basic info
print(df.info())
print(df.head())

# Check for missing values
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 61 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   Unnamed: 0                  1000000 non-null  int64
 1   cat2_slug                   1000000 non-null  object
 2   cat3_slug                   999999 non-null   object
 3   city_slug                   999998 non-null   object
 4   neighborhood_slug           437139 non-null   object
 5   created_at_month            1000000 non-null  object
 6   user_type                   288882 non-null   object
 7   description                 1000000 non-null  object
 8   title                       999946 non-null   object
 9   rent_mode                   352994 non-null   object
 10  rent_value                  351322 non-null   float64
 11  rent_to_single              19 non-null       object
 12  rent_type                   103961 non-null   object
 13  price_mode                  573606 non-null   object
 14  price_value                 568346 non-null   float64
 15  credit_mode                 352994 non-null   object
 16  credit_value                352095 non-null   float64
 17  rent_credit_transform       352985 non-null   object
 18  transformable_price         352894 non-null   object
 19  transformable_credit        352085 non-null   float64
 20  transformed_credit          72409 non-null    float64
 21  transformable_rent          351248 non-null   float64
 22  transformed_rent            72409 non-null    float64
 23  land_size                   186396 non-null   float64
 24  building_size               980394 non-null   float64
 25  deed_type                   253458 non-null   object
 26  has_business_deed           34679 non-null    object
 27  floor                       541748 non-null   object
 28  rooms_count                 845899 non-null   object
 29  total_floors_count          304352 non-null   object
 30  unit_per_floor              302283 non-null   object
 31  has_balcony                 506411 non-null   object
 32  has_elevator                541749 non-null   object
 33  has_warehouse               728155 non-null   object
 34  has_parking                 728156 non-null   object
 35  construction_year           815828 non-null   object
 36  is_rebuilt                  529470 non-null   object
 37  has_water                   33444 non-null    object
 38  has_warm_water_provider     379500 non-null   object
 39  has_electricity             33445 non-null    object
 40  has_gas                     33430 non-null    object
 41  has_heating_system          368969 non-null   object
 42  has_cooling_system          350619 non-null   object
 43  has_restroom                406913 non-null   object
 44  has_security_guard          31312 non-null    object
 45  has_barbecue                31198 non-null    object
 46  building_direction          323923 non-null   object
 47  has_pool                    29390 non-null    object
 48  has_jacuzzi                 28728 non-null    object
 49  has_sauna                   28479 non-null    object
 50  floor_material              405984 non-null   object
 51  property_type               27057 non-null    object
 52  regular_person_capacity     29870 non-null    float64
 53  extra_person_capacity       24009 non-null    object
 54  cost_per_extra_person       10241 non-null    float64
 55  rent_price_on_regular_days  18068 non-null    float64
 56  rent_price_on_special_days  10463 non-null    float64
 57  rent_price_at_weekends      13551 non-null    float64
 58  location_latitude           655608 non-null   float64
 59  location_longitude          655608 non-null   float64
 60  location_radius             339699 non-null   float64
dtypes: float64(17), int64(1), object(43)
memory usage: 465.4+ MB
None
   Unnamed: 0         cat2_slug       cat3_slug city_slug neighborhood_slug  \
0           0    temporary-rent           villa     karaj         mehrshahr
1           1  residential-sell  apartment-sell    tehran           gholhak
2           2  residential-rent  apartment-rent    tehran             tohid
3           3   commercial-rent     office-rent    tehran          elahiyeh
4           4  residential-sell  apartment-sell   mashhad          emamreza

      created_at_month    user_type  \
0  2024-08-01 00:00:00  مشاور املاک
1  2024-05-01 00:00:00  مشاور املاک
2  2024-10-01 00:00:00          NaN
3  2024-06-01 00:00:00          NaN
4  2024-05-01 00:00:00  مشاور املاک

                                         description  \
0  ۵۰۰متر\n۲۰۰متر بنا دوبلکس\n۳خواب\nاستخر آبگرم ...
1  دسترسی عالی به مترو و شریعتی \nمشاعات تمیز \nب...
2                                    تخلیه پایان ماه
3  فرشته تاپ لوکیشن\n۹۰ متر موقعیت اداری\nیک اتاق...
4  هلدینگ ساختمانی اکبری\n\nهمراه شما هستیم برای ...

                                              title rent_mode  ...  \
0  باغ ویلا اجاره روزانه استخر داخل لشکرآباد سهیلیه       NaN  ...
1                           ۶۰ متر قلهک فول امکانات       NaN  ...
2                          آپارتمان ۳ خوابه ۱۳۲ متر     مقطوع  ...
3           فرشته ۹۰ متر دفتر کار مدرن موقعیت اداری     مقطوع  ...
4                  ۱۱۵ متری/شمالی رو به آفتاب/اکبری       NaN  ...

   property_type regular_person_capacity extra_person_capacity  \
0            NaN                     4.0                     6
1            NaN                     NaN                   NaN
2            NaN                     NaN                   NaN
3            NaN                     NaN                   NaN
4            NaN                     NaN                   NaN

  cost_per_extra_person  rent_price_on_regular_days  \
0              350000.0                   1500000.0
1                   NaN                         NaN
2                   NaN                         NaN
3                   NaN                         NaN
4                   NaN                         NaN

  rent_price_on_special_days  rent_price_at_weekends location_latitude  \
0               3.500000e+09               3500000.0         35.811684
1                        NaN                     NaN               NaN
2                        NaN                     NaN         35.703865
3                        NaN                     NaN               NaN
4                        NaN                     NaN               NaN

  location_longitude  location_radius
0          50.936600            500.0
1                NaN            500.0
2          51.373459              NaN
3                NaN              NaN
4                NaN              NaN

[5 rows x 61 columns]
Unnamed: 0                         0
cat2_slug                          0
cat3_slug                          1
city_slug                          2
neighborhood_slug             562861
                               ...
rent_price_on_special_days    989537
rent_price_at_weekends        986449
location_latitude             344392
location_longitude            344392
location_radius               660301
Length: 61, dtype: int64

In [21]:
# Create a copy of the DataFrame to avoid SettingWithCopyWarning
df_clean = df.copy()

# Drop columns with high missingness or irrelevant to prediction
columns_to_drop = ['description', 'title', 'rent_mode', 'rent_value', 'rent_to_single',
                   'rent_type', 'price_mode', 'price_value', 'credit_mode', 'credit_value',
                   'rent_credit_transform', 'transformed_credit', 'transformed_rent']

df_clean = df_clean.drop(columns=columns_to_drop)

# Drop rows where target is missing
df_clean = df_clean[df_clean['transformable_price'].notna()]

# Convert Farsi numbers to English
def farsi_to_english(text):
    farsi_digits = '۰۱۲۳۴۵۶۷۸۹'
    english_digits = '0123456789'
    if pd.isna(text):
        return text
    text = str(text)
    for f, e in zip(farsi_digits, english_digits):
        text = text.replace(f, e)
    return text

# Apply to all columns
for col in df_clean.columns:
    if df_clean[col].dtype == 'object':
        df_clean[col] = df_clean[col].apply(farsi_to_english)

# Fill missing numerical values with median
num_cols = df_clean.select_dtypes(include=np.number).columns
for col in num_cols:
    df_clean[col] = df_clean[col].fillna(df_clean[col].median())

# Fill categorical missing values with mode
cat_cols = df_clean.select_dtypes(include='object').columns
for col in cat_cols:
    mode_val = df_clean[col].mode()
    if not mode_val.empty:
        df_clean[col] = df_clean[col].fillna(mode_val.iloc[0])
    else:
        # If no mode exists, fill with a placeholder
        df_clean[col] = df_clean[col].fillna('Unknown')

# Encode categorical variables
label_encoders = {}
for col in cat_cols:
    le = LabelEncoder()
    df_clean[col] = le.fit_transform(df_clean[col].astype(str))
    label_encoders[col] = le

In [25]:
# Select features and target
X = df_clean.drop('transformable_price', axis=1)
y = df_clean['transformable_price']

# First split: separate out test set (20%)
X_train_val, X_test, y_train_val, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# Second split: separate validation set from training
X_train, X_val, y_train, y_val = train_test_split(
    X_train_val, y_train_val, test_size=0.25, random_state=42
)

print(f"Training set size: {X_train.shape}")
print(f"Validation set size: {X_val.shape}")
print(f"Test set size: {X_test.shape}")

Training set size: (211736, 47)
Validation set size: (70579, 47)
Test set size: (70579, 47)

In [37]:
# Define parameter distributions for Random Forest
param_dist = {
    'n_estimators': stats.randint(50, 300),
    'max_depth': [None] + list(range(5, 50, 5)),
    'min_samples_split': stats.randint(2, 20),
    'min_samples_leaf': stats.randint(1, 10),
    'max_features': ['sqrt', 'log2'],
    'bootstrap': [True, False]
}

# Initialize the model
rf = RandomForestRegressor(random_state=42, n_jobs=-1)

# Initialize RandomizedSearchCV
random_search = RandomizedSearchCV(
    estimator=rf,
    param_distributions=param_dist,
    n_iter=4,  # Number of parameter settings to sample
    cv=3,  # 3-fold cross-validation
    scoring='r2',
    n_jobs=-1,
    random_state=42,
    verbose=1
)

# Fit RandomizedSearchCV
print("Starting hyperparameter tuning with RandomizedSearchCV...")
random_search.fit(X_train, y_train)

# Get the best parameters
best_params = random_search.best_params_
print(f"Best parameters: {best_params}")
print(f"Best cross-validation score: {random_search.best_score_:.4f}")

# Train the best model on the full training set
best_model = random_search.best_estimator_

Starting hyperparameter tuning with RandomizedSearchCV...
Fitting 3 folds for each of 4 candidates, totalling 12 fits
Best parameters: {'bootstrap': False, 'max_depth': 25, 'max_features': 'log2', 'min_samples_leaf': 5, 'min_samples_split': 2, 'n_estimators': 253}
Best cross-validation score: 0.1183

In [38]:
# Predict on validation set
y_val_pred = best_model.predict(X_val)

# Calculate metrics
r2_val = r2_score(y_val, y_val_pred)
mae_val = mean_absolute_error(y_val, y_val_pred)
mse_val = mean_squared_error(y_val, y_val_pred)
rmse_val = np.sqrt(mse_val)

print("\nValidation Set Evaluation Metrics:")
print(f'R2 Score: {r2_val:.4f}')
print(f'MAE: {mae_val:.4f}')
print(f'MSE: {mse_val:.4f}')
print(f'RMSE: {rmse_val:.4f}')

Validation Set Evaluation Metrics:
R2 Score: 0.1215
MAE: 0.2916
MSE: 0.1441
RMSE: 0.3796

In [39]:
# Retrain the best model on the combined training+validation data
print("Retraining on combined training+validation data...")
final_model = RandomForestRegressor(**best_params, random_state=42, n_jobs=-1)
final_model.fit(X_train_val, y_train_val)

# Predict on test set
y_test_pred = final_model.predict(X_test)

# Calculate metrics
r2_test = r2_score(y_test, y_test_pred)
mae_test = mean_absolute_error(y_test, y_test_pred)
mse_test = mean_squared_error(y_test, y_test_pred)
rmse_test = np.sqrt(mse_test)

print("\nFinal Test Set Evaluation Metrics:")
print(f'R2 Score: {r2_test:.4f}')
print(f'MAE: {mae_test:.4f}')
print(f'MSE: {mse_test:.4f}')
print(f'RMSE: {rmse_test:.4f}')

Retraining on combined training+validation data...

Final Test Set Evaluation Metrics:
R2 Score: 0.1254
MAE: 0.2908
MSE: 0.1436
RMSE: 0.3789